<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Oktavilla Jukebox</title>
      <meta name="description" content="What the Oktavillains are listening to...">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Oktavilla">
      <link rel="stylesheet" href="stylesheets/main.css">
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
      <script type="text/javascript" src="javascripts/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
